In [1]:
import pandas as pd

In [2]:
queries_df = pd.read_csv("./MTG-QBH/metadata/Queries.csv")
queries_df.head()

,Filename,Query ID,Song ID,Title,Original artist,Class label
0,q1.wav,q1,1118,Mother natures son,The Beatles,mothernat
1,q2.wav,q2,1438,Scarborough fair,Unknown,scarborou
2,q3.wav,q3,1546,Stairway to heaven,Led Zeppelin,stairway2h
3,q4.wav,q4,1579,Strawberry fields forever,The Beatles,strawberry
4,q5.wav,q5,1808,When I am sixty four,The Beatles,whenim64

In [3]:
queries_df.shape

(118, 6)

In [5]:
from basic_pitch.inference import predict
from basic_pitch import ICASSP_2022_MODEL_PATH

# FUNCTIONS
def get_query_basic_midi(query_id):
    model_output, midi_data, note_events = predict(f"MTG-QBH/audio/{query_id}.wav")
    return midi_data
def append_query_midi(df):
    df["query_basic_midi"] = df["Query ID"].apply(lambda x: get_query_basic_midi(str(x)))
    return df

In [18]:
# %%capture
# queries_df = append_query_midi(queries_df)
# queries_df.to_pickle("./queries_with_midi.pkl")

In [16]:
queries_df = pd.read_pickle("./queries_with_midi.pkl")