In [3]:
import pandas as pd

In [4]:
songs_df = pd.read_csv("./MTG-QBH/metadata/Collection_Canonicals.csv", encoding='latin1')
songs_df.head()

,Song ID,Title,Artist,Original artist,Canonical,Class label
0,1,One hundred years,The Cure,The Cure,YES,100years
1,4,10:15 saturday night,The Cure,The Cure,YES,1015sat
2,7,Seventeen seconds,The Cure,The Cure,YES,17secs
3,14,Dos gardenias,Antonio Machin,Bobby Capo,YES,2gardeni
4,15,Six different ways,The Cure,The Cure,YES,6different

In [18]:
songs_df[songs_df['Song ID'] == 807]

,Song ID,Title,Artist,Original artist,Canonical,Class label
166,807,Interstellar overdrive,Pink Floyd,Pink Floyd,YES,interstellar

In [17]:
songs_df.shape

(481, 6)

In [18]:
from basic_pitch.inference import predict
from basic_pitch import ICASSP_2022_MODEL_PATH

# FUNCTIONS
def get_song_vocals_midi(song_id):
    model_output, vocal_midi_data, note_events = predict(f"output/htdemucs/{song_id}/vocals.wav")
    return vocal_midi_data

def append_vocals_midi(df):
    df["vocals_midi"] = df["Song ID"].apply(lambda x: get_song_vocals_midi(str(x)))
    return df

In [ ]:
%%capture
songs_df = append_vocals_midi(songs_df)
songs_df.to_pickle("./songs_with_midi.pkl")

In [ ]:
songs_df = pd.read_pickle("./songs_with_midi.pkl")

In [ ]:
songs_df.shape